---
import Layout from '../../layouts/Layout.astro';
import Markdown from '../../components/Markdown.astro';
import ShapeEditor from './_components/ShapeEditor.tsx';
import { uploadDisabled } from '../../utils';

const explainer = `
Step1:  Create your unique inquiry, by clicking randomize to create a unique instance, and click upload to set your place in our queue. 

Step 2: copy this reference number (ex prospective-fly-474) into the title of your text or email. 

Fill out this form and copy your inquiry number into the first line 



OR

copy this reference number (ex prospective-fly-474) into the title of your text or email. 

In the body of your text or email, please copy this format and state 

A: the task, tasks that need to be done</br>
B: the exact location</br>
C: When you want the job done. </br>
D: first and last name</br>
E: phone number</br>
F: email </br>

Step3: You will get an immediate response from us as to the cost of the task and several times when it can be done.

Step4: this insures that all inquiries are handles in the order that they are received and provides a simple way for our clients and us to stay on the same page. 🙂.
`;

const uploadDisabledText = `
User uploads are disabled in this site. To run your own and try it out: 
<a href="https://app.netlify.com/start/deploy?repository=https://github.com/netlify-templates/astro-platform-starter">
<img src="https://www.netlify.com/img/deploy/button.svg" style="display: inline;" alt="Deploy to Netlify" />
</a>
`;
---

<Layout title="Blobs">
  <h1 class="mb-10">Create Your Inquiry</h1>

  <Markdown content={explainer} class="mb-12" />

  <!-- Netlify form -->
  <form
    name="contact"
    method="POST"
    data-netlify="true"
    class="mb-12 max-w-xl space-y-6"
  >
    <!-- required for Netlify form detection -->
    <input type="hidden" name="form-name" value="contact" />

    <p class="space-y-2">
      <label class="block font-semibold">
        Inquiry
        <input
          type="text"
          name="INQ"
          class="mt-2 block w-full rounded border border-white/20 bg-white/10 px-3 py-2 text-white"
        />
      </label>
    </p>

    <p class="space-y-2">
      <label class="block font-semibold">
        Email
        <input
          type="email"
          name="email"
          class="mt-2 block w-full rounded border border-white/20 bg-white/10 px-3 py-2 text-white"
        />
      </label>
    </p>

    <p>
      <button type="submit" class="btn">
        Send
      </button>
    </p>
  </form>

  <ShapeEditor client:load />
</Layout>
