---
import Layout from '../../layouts/Layout.astro';
import Markdown from '../../components/Markdown.astro';
import ShapeEditor from './_components/ShapeEditor.tsx';
import { uploadDisabled } from '../../utils';

const explainer = `
Step1:  Create your unique inquiry, by clicking randomize to create a unique instance, and click upload to set your place in our queue. 

Step 2: copy this reference number (ex prospective-fly-474) into the title of your text or email. 

In the bodyy of your text or email, please copy this format and state 

A: the task, tasks that need to be done</a>
B: the exact location
C: When you want the job done. 
D: first and last name
E: phone number
F: email 

Step3: You will get an immediate response from us as to the cost of the task and several times when it can be done.

Step4: this insures that all inquiries are handles in the order that they are received and provides a simple way for our clients and us to stay on the same page. 🙂.
`;

const uploadDisabledText = `
User uploads are disabled in this site. To run your own and try it out: 
<a href="https://app.netlify.com/start/deploy?repository=https://github.com/netlify-templates/astro-platform-starter">
<img src="https://www.netlify.com/img/deploy/button.svg" style="display: inline;" alt="Deploy to Netlify" />
</a>
`;
---

<Layout title="Blobs">
    <h1 class="mb-10">Create Your Inquiry</h1>
    <Markdown content={explainer} class="mb-12" />
    <ShapeEditor client:load />
</Layout>
