---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
Having the right team keeps your ratings high and the income coming in - learn more.

`;
---

<Layout title="Welcome to HandyMountain.">
    <h1 class="mb-10">Solutions for Mountain STR owners</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>
        <a href="https://docs.netlify.com/frameworks/astro/" class="btn btn-lg sm:min-w-64">Learn More</a>
    </p>
</Layout>
